.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    font-size: rem(12px);
    color: $white;
    background-image: linear-gradient(90deg, $gradient-clr1, $gradient-clr2);
    padding: rem(10px) 0;
    transition: background-color .6s ease;

    @include for-wide-layout {
        height: 50px;
        font-size: rem(14px);
    }

    .account-updated{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: red;
        color: $white; 
        position: absolute;
        top: 11px;
        right: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .updated{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: -5px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    &.light {
        background-image: none;
        background-color: $white;
        color: $clr1;
    }
    &-msgs {
        display: flex;
        align-items: center;
        
        .nav-user-img {
            width: 24px;
            border-radius: 50%;
            margin-inline-end: rem(10px);
        }

        .tour-btn{
            border: 1px solid #F8F8F8;
            padding: 3px 12px;
            border-radius: 100px;
            margin-inline-start: 10px;
        }
    }
    &-user-dropdown {
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 0px 0px 10px rgba($black, 0.25);
        border-radius: 6px;
        font-size: rem(14px);
        line-height: rem(16px);
        color: $gradient-clr1;
        padding: rem(8px) 0;

        &-links {
            position: relative;

            &::after {
                content: "";
                height: 1px;
                width: 80%;
                position: absolute;
                left: 10%;
                bottom: 0;
                background-color: rgba($gradient-clr1, .7);
            }
        }
        &-item {
            display: inline-block;
            min-width: max-content;
            padding: rem(12px) rem(96px) rem(12px) rem(20px);

            @include hover-supported {
                background-color: $clr13;
            }
            &:focus {
                outline: none;
                background-color: $clr13;
            }  
        }
    }
    &-nav {
        flex-grow: 1;
        padding-inline-end: rem(10px);
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;

        @include for-wide-layout {
            margin-block-start: 2px;
        }
        
        
        &-item {
            margin-inline-end: rem(14px);

            @include hover-supported {
                color: darken($white, 10%);
            }

            &.link {
                display: none;
                @include for-narrow-layout {
                    display: initial;
                }
            }
            .material-design-icon__svg {
                margin-block-end: -6px;
            }
            @include for-narrow-layout {
                &:not(.link) > button {
                    &:not(.logout-btn) {
                        border: 1px solid $clr3;
                        border-radius: 100px;
                        padding: rem(4px) rem(14px);
                    }
                    &.highlight {
                        background-image: linear-gradient(90deg, $gradient-clr1, $gradient-clr2);
                        color: $white;
                    }
                    &.login-btn {
                        font-family: roboto-bold, sans-serif;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    &-toggle {
        display: flex;
        align-items: center;

        .menu-icon {
            height: 24px;
        }
    }
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8;
        background-color: rgba($black, .6);
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    &-side-nav {
        display: inline-flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 85%;
        max-width: rem(300px);
        background-color: $clr1;
        z-index: 9;
        font-size: rem(20px);
        font-family: segoe-ui, sans-serif;
        color: $white;
        overflow-y: auto;
        line-height: rem(50px);
        transform: translateX(100%);
        transition: transform .6s ease-in-out;
        cursor: grab;
        
        &:active {
            cursor: grabbing;
        }
        &.active {
            transform: translateX(0);
        }
        &-logo {
            align-self: center;
            width: 100%;
            max-width: 175px;
            margin-block-end: rem(20px);
        }
        &-close-btn {
            align-self: flex-end;
            margin: 20px 20px 0 0;

            &:focus {
                outline: none;      
                color: rgba($white, .6);         
            }
        }
        &-item {
            text-align: center;
            margin: rem(10px) 0;
            &>* {
                display: inline-block;
                width: 90%;
                margin: 0 5%;
                transition: background-color .3s ease;

                @include hover-supported {
                    background-color: rgba($white, .1);
                }
                &:focus {
                    outline: none;      
                    background-color: rgba($white, .1);         
                }
            }
            button {
                padding: rem(5px) rem(10px);
                border: 1px solid $clr3;
                border-radius: rem(6px);
            }
        }
    }
}
