.update-msg-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 10px;
    z-index: 9999;
    border: 2px solid $clr1;
    padding: 5px 15px;
    transition: .5s;
    transform: translateY(-100%);
    text-align: center;

    h2{
        font-weight: bold;
        color: $clr1;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    p{
        font-size: 15px;
        margin-bottom: 6px;

        .highlight{
            color: $clr2;
            font-weight: bold;
        }
    }

    .reload-btn{
        background-color: $clr1;
        color: white;
        width: 120px;
        height: 30px;
        border-radius: 16px;
        margin-bottom: 6px;
    }

    .close-btn{
        position: fixed;
        top: 2px;
        right: 2px;
        transform: scale(0.8);
        cursor: pointer;
    }

    .note{
        text-align: start;
        font-size: 12px;
        color: black;
    }
}

.show-update-msg{
    transform: translateY(0);
}

@media (max-width: 450px) {
    .update-msg-container{
        display: none;
    }
}