.interaction-details {
    margin: 12px 0;

    .action-container {
        display: flex;
        margin-bottom: 20px;

        > :not(:last-child) {
            margin-inline-end: 10px;
        }
    }
    .v-chip {
        pointer-events: none;
    }
    .refs-table {
        grid-column: 1 / -1;
    }
    .info-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px;
        padding: 12px;

        .interaction-details-title {
            grid-column: 1 / -1;
            font-size: 1.75em;
        }

        .info-title {
            padding-inline-start: 16px;
        }

        .info-value {
            max-width: 75%;
        }

        .info-title,
        .info-value,
        a,
        p {
            text-align: start;
        }

        p {
            margin: 0;
        }

        .side-link {
            margin-inline-start: 24px;
        }
    }
}

.spacing {
    margin: 0 6px;
}

.multiple-modal-container{
    width: 600px;
    height: 450px;
    position: relative;

    .multiple-material-list{
        padding: 30px;
        height: 266px;
        overflow-y: scroll;

        .multiple-material{
            padding: 5px 15px;
            border: 1px solid #1976d2;
            width: fit-content;
            border-radius: 10px;
            display: flex;
            margin-bottom: 10px;

            p{
                margin: 0;
            }
            button{
                margin-left: 20px;
            }
        }

        .count{
            font-weight: bold;
            font-size: 20px;
            color: #1976d2;
            position: absolute;
            top: 85px;
            right: 55px;
        }
    }

    .btns-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
    }
}
