.d-bank-interaction-details {
    &-content {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px;

        &-title {
            grid-column: 1 / -1;
            justify-content: space-between;
            align-items: center;

            figure {
                position: relative;

                figcaption {
                    opacity: .8;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    transform: translateX(-105%);
                }
            }
        }
        &-table, &-divider {
            grid-column: 1 / -1;
            margin: 0 2.5%;
            width: 95%;
        }
        &-table p {
            display: inline;
            margin-bottom: 0;
        }
    }
}