.data-integrity {
    tbody {
        tr:hover {
           background-color: transparent !important;
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        &-controls {
            flex-basis: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }
        .v-card__title {
            padding: 0;
        }
    }
    &-loader {
        padding: 48px;
    }
    &-empty {
        text-align: center;
        padding: 8px 16px;
    }
    &-initial {
        padding: 8px 16px;
    }
    &-expand-panel {
        min-width: 500px;
        z-index: unset;
    }
}