.interaction-sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    .interaction-side.side-picker {
        display: flex;
        justify-content: flex-end;

        .side-title {
            padding: 0;
        }
    }
}