.side-picker {
    .loader-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .loader {
            text-align: center;
            margin: 0 auto;
        }
    }
    &-title {
        display: flex;
        align-items: center;
    }
    &-autocomplete {
        .v-messages, .v-text-field__details {
            display: none;
        }
        .v-input__slot {
            margin-bottom: 0;
        }
    }
    .v-tab {
        max-width: unset;
    }
    .material-search {
        .v-input__slot {
            min-height: 48px;
        }
    }
    .material-list {
        font-size: 24px;

        img {
            width: 30px;
        }
        &-item {
            &-primary-icon {
                z-index: 9;
                color: #FFA726;
                margin-left: 36px;
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgba(38, 35, 34, 0.1);
            }
            &:focus {
                background-color: rgba(38, 35, 34, 0.1);
            }
        }
    }
    .infinite-wrapper {
        overflow-y: auto;
        min-height: 380px;
        max-height: 60vh;
    }
}
