*, *::before, *::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: rem(16px);
    font-weight: normal;
    font-family: roboto, sans-serif;
    color: $clr-txt-dark;
    letter-spacing: 0;
    line-height: rem(20px);
}
#app > main {
    min-height: calc(100vh - 2.6875rem);
    display: flex;
    flex-direction: column;
}
input, button, a, .swiper {
    &:focus {
        outline: 1px solid $clr1;
        outline-offset: 2px;
    }
}
sub {
    line-height: unset;
    color: $clr2;
}