
.heading1 {
    color: rgba($clr-txt-dark, .85);
    font-size: rem(36px);
    line-height: rem(32px);
    margin-block-end: rem(20px);
}

.heading2, .heading3 {
    color: $clr-txt-dark;
    font-family: roboto-bold, sans-serif;
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-block-end: rem(20px);
}

.heading3 {
    font-size: rem(18px);
    line-height: rem(22px);
    margin-block-end: rem(10px);
}

.styled-ul {
    margin: rem(40px) 0;

    li {
        position: relative;
        padding-inline-start: rem(45px);

        &:not(:last-child) {
            margin-block-end: rem(30px);
        }
        &::before {
            content: url("../assets/imgs/logo-symbol-sm.png");
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

sub {
    position: relative;
    line-height: unset;
    color: $clr2;
    cursor: help;

    @include hover-supported {
        & > .refs-tooltip {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.refs-tooltip {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 550px;
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
    color: $clr-txt-darker;
    background-color: darken($white, 5%);
    border: 1px solid rgba($black, .1);
    box-shadow: 0 3px 8px 0 rgba($black, .1);
    z-index: 9;
    transform: scale(0);
    opacity: 0;
    transform-origin: top left;
    transition: transform .3s linear, opacity .3s linear;

    &-item {
        transition: background-color .3s linear;

        &:not(:first-child) {
            padding-block-start: rem(4px);
            border-top: 1px solid $white;

        }
        &:not(:last-child) {
            padding-block-end: rem(4px);
        }
        @include hover-supported {
            background-color: $white;
        }
    }
    .ref-link {
        color: $clr2;
    }
    p {
        display: inline;
        span {
            font-weight: 700;
        }
    }
}

.btn {
    background-color: $clr2;
    padding: rem(16px) rem(40px);
    font-family: roboto-medium, sans-serif;
    font-weight: 500;
    letter-spacing: rem(.08px);
    color: $white;
    border-radius: 6px; 
    transition: box-shadow .4s ease;
    
    &:focus {
        outline: none;
    }
    &:focus {       
        box-shadow: 0 0 5px rgba($black, .4);
    }
    @include hover-supported {
        box-shadow: 0 0 5px rgba($black, .4);
    }
    &:active {
        box-shadow: none;
    }
}

.tooltip {
    background-color: $white;
    box-shadow: 0px 2px 4px rgba($black, .1);
    border: 1px solid $clr6;
    font-size: rem(14px);
    line-height: rem(22px);
}

.table-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    @include for-narrow-layout {
        flex-wrap: nowrap;
    }
    & > .table-col {
        &:first-child {
            flex-basis: 100%;
            text-align: center;

            @include for-narrow-layout {
                flex-basis: 52.66%;
                text-align : initial;
            }
        }
        &:nth-child(2) {
            text-transform: capitalize;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-basis: 50%;

            @include for-narrow-layout {
                flex-basis: 25%;
            }
            @include for-wide-layout {
                flex-basis: 33.33%;
            }
        }
        &:nth-child(3) {
            flex-basis: 50%;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            min-width: rem(110px);
            font-family: roboto-bold, sans-serif;
            font-weight: 700;
            text-align: right;
            padding-inline-end: rem(50px);
            position: relative;
            
            @include for-narrow-layout {
                flex-basis: auto;
                max-width: max-content;
                justify-content: center;
                text-align: center;
                padding-inline-end: 0;
            }

            .refs {
                position: absolute;
                top: 50%;
                right: rem(25px);
                transform: translateY(-50%);
                color: $clr1;
                font-size: rem(11px);
                line-height: rem(14px);
                font-family: mulish, sans-serif;
                font-weight: normal;

                @include for-narrow-layout {
                    right: 25%;
                }
            }
        }
    }
}

.list-pagination {
    margin-top: auto;
    padding: rem(16px) 0;
    line-height: normal;
    font-size: rem(14px);
    color: rgba($clr-txt-darker, .9);
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 10px;
    border-radius: 50%;
    padding: 4px 5px;
    font-size: rem(10px);
    line-height: 1;
    font-family: roboto, sans-serif;
    font-weight: normal;
    color: $white;
    background-color: $clr11;
}