.btn {
    background-color: $clr2;
    padding: rem(16px) rem(40px);
    font-family: roboto-medium, sans-serif;
    font-weight: 500;
    letter-spacing: rem(.08px);
    color: $white;
    border-radius: 6px; 
    transition: box-shadow .4s ease;
    
    &:focus {
        outline: none;
    }
    &:focus {       
        box-shadow: 0 0 5px rgba($black, .4);
    }
    @include hover-supported {
        box-shadow: 0 0 5px rgba($black, .4);
    }
    &:active {
        box-shadow: none;
    }
}

.tooltip {
    background-color: $white;
    box-shadow: 0px 2px 4px rgba($black, .1);
    border: 1px solid $clr6;
    font-size: rem(14px);
    line-height: rem(22px);
}

.table-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    @include for-narrow-layout {
        flex-wrap: nowrap;
    }
    & > .col {
        &:first-child {
            flex-basis: 100%;
            text-align: center;

            @include for-narrow-layout {
                flex-basis: 52.66%;
                text-align : initial;
            }
        }
        &:nth-child(2) {
            text-transform: capitalize;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-basis: 50%;

            @include for-narrow-layout {
                flex-basis: 33.33%;
            }
        }
        &:nth-child(3) {
            flex-basis: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            min-width: rem(110px);
            font-family: roboto-bold, sans-serif;
            font-weight: 700;
            text-align: right;
            position: relative;
            
            @include for-narrow-layout {
                flex-basis: auto;
                max-width: max-content;
                text-align: center;
            }

            .refs {
                position: absolute;
                top: 50%;
                right: 25%;
                transform: translateY(-50%);
                color: $clr1;
                font-size: rem(11px);
                line-height: rem(14px);
                font-family: mulish, sans-serif;
                font-weight: normal;
                margin-inline-start: 3px;
            }
        }
    }
}