
@font-face {
    font-family: roboto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto-medium;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: roboto-light;
    src: url('../assets/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: segoe-ui;
    src: url('../assets/fonts/Segoe-UI.woff');
}
@font-face {
    font-family: 'mulish';
    src: url('../assets/fonts/Mulish-Regular.ttf');
}