.side1-pathways {
    margin-inline-start: rem(24px);

    .details-container{
        display: flex;

        .info-icon{
            margin-inline-start: 5px;
            color: #484848;
            cursor: help;
        }

        .pathways-tooltip-container{
            margin: 10px;

            .tip{
                margin-block-start: 10px;

                span{
                    font-weight: bold;
                }

                .green{
                    color: $green;
                }
                .red{
                    color: $red;
                }
                .yellow{
                    color: $yellow;
                }
            }
        }
    }
    
    h3 {
        margin-block-end: rem(8px);
    }
    &-nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba($clr12, .1);
        margin-block-end: rem(15px);
        padding-block-end: rem(10px);       

        li {
            max-width: 100%;
        }

        &-item {
            margin: rem(12px) rem(8px);

            @include for-narrow-layout {
                margin: 0 rem(16px) 0 0;
            }
        }

        .chip {
            font-family: roboto-medium, sans-serif;
            font-weight: 500;
            font-size: rem(11px);
            line-height: rem(13px);
            text-transform: uppercase;
            border-width: 2px;
            border-style: solid;
            border-color: $gray;
            border-radius: 100px;
            padding: rem(4px) rem(10px) rem(4px) rem(26px);
            position: relative;

            &-green { border-color: $green; }
            &-yellow { border-color: $yellow; }
            &-red { border-color: $red; }
            
            .material-design-icon {
                position: absolute;
                top: calc(50% - 8px);
                left: rem(4px);
                height: 16px;
            }
        }
    }
    .un-relevant {
        color: $clr12;
        font-size: rem(12px);
        line-height: rem(14px);
        font-style: italic;
        max-width: fit-content;

        &-container {
            margin-block-start: rem(24px);
            padding-block-start: rem(12px);
            border-top: 1px solid rgba($clr12, .1);
        }
    }
    .active-tab-txt {
        @include for-narrow-layout {
            padding-inline-end: 30%;
        }
    }
}