.side2-pathways {
    margin: 0 0 rem(22px) rem(24px);

    &-header {
        margin-block-end: rem(12px);
    }
    &-row:not(:last-child) {
        margin-block-end: rem(12px);
    }
    .pathway {
        cursor: help;

        &-tooltip {
            padding: rem(6px) rem(10px);

            & > div:first-child {
                color: $clr1;
            }
        }
    }
}