.result-expand-preview {
    &-panel {
        &-header {
            pointer-events: none;
        } 
        &-chip {
            pointer-events: all;
            cursor: row-resize;
        }
    }
    &-loader {
        margin: 20px calc(50% - 32px);
    }
    .v-expansion-panel {
        flex: unset;
    }
    .v-slide-group__content {
        flex-direction: row !important;
    }
    .chip-active {
        justify-content: center;
        font-size: 1.2em;
    }
}