.horizontal-list {
    background-color: $clr3;
    font-size: rem(12px);
    line-height: rem(36px);
    padding: 0 rem(24px);
    
    @include for-narrow-layout {
        padding: 0 rem(12px);
    }
    @include for-wide-layout {
        padding: 0 0 0 rem(16px);
    }

    .evidence-level-popup-msg {
        width: 18ch;
    }
    .swap-side-btn {
        height: 16px;
    }

    &-header {
        display: none;
        align-items: center;
        box-shadow: $slight-border-bottom;
        color: $clr12;
        user-select: none;
        
        @include for-narrow-layout {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;
            
            &:first-child {
                flex-basis: 52.66%;
            }
            &:nth-child(2) {
                flex-basis: 33.33%;
                @include for-narrow-layout {
                    flex-basis: 25%;
                }
                @include for-wide-layout {
                    flex-basis: 33.33%;
                }
            }
            &:nth-child(3) {
                flex-basis: auto;
                min-width: max-content;
            }
            & > label {
                cursor: pointer;
            }
            & > *:not(:last-child), .sort-icon {
                margin-inline-end: rem(5px);
            }
            .tooltip-trigger {
                cursor: help;
                display: inline-block;
                transform: translateY(2px);
            }
            .swap-side-icon {
                transform: rotateZ(90deg);
            }
        }
        .tooltip-content {
            padding: rem(16px) rem(14px);
            color: $clr-txt-darker;
            user-select: text;
            
            ol {
                max-width: 28ch;
                list-style: decimal;
                margin-inline-start: rem(16px);

                li:not(:last-child) {
                    margin-block-end: rem(12px);
                }
            }
            .recommendation-tooltip {
                max-width: 200px;

                .d-block {
                    margin-block-end: rem(8px);
                }
                .highlight {
                    color: $clr11;
                }
            }
        }
    }
    .show-pos-supp-btn{
        display: block;
        margin: 0 auto;
        border-radius: 100px;
        padding: 0.4rem 1rem;
        background-color: $clr11;
        color: #FFFFFF;
        border: 2px solid $clr11;
        box-shadow: none;
        margin-block-start: 11px;
        pointer-events: all;
        display: flex;
        margin-block-end: 7px;

        p{
            margin-top: 5px;
        }
    }
    &-list-item {
        box-shadow: $slight-border-bottom;

        &.boosters-opener {
            font-size: rem(14px);
            padding: rem(6px) 0;

            .tour-btn {
                text-transform: capitalize;
                text-decoration: underline;
                
            }
            .close-icon {
                display: inline-block;
                height: 14px;
            }
        }
    }
}