.horizontal-list {
    background-color: $clr3;
    font-size: rem(12px);
    line-height: rem(36px);
    padding: 0 rem(24px);
    
    @include for-narrow-layout {
        padding: 0 rem(12px);
    }
    @include for-wide-layout {
        padding: 0 0 0 rem(16px);
    }

    &-header {
        display: none;
        align-items: center;
        box-shadow: $slight-border-bottom;
        color: $clr12;
        
        @include for-mobile-layout {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;
            
            &:first-child {
                flex-basis: 52.66%;
            }
            &:nth-child(2) {
                flex-basis: 33.33%;
                @include for-narrow-layout {
                    flex-basis: 25%;
                }
                @include for-wide-layout {
                    flex-basis: 33.33%;
                }
            }
            &:nth-child(3) {
                flex-basis: auto;
                min-width: max-content;
            }

            & > *:not(:last-child) {
                margin-inline-end: rem(5px);
            }
            .tooltip-trigger {
                cursor: help;
                display: inline-block;
                transform: translateY(2px);
            }
        }
        .tooltip-content {
            padding: rem(16px) rem(14px);
            color: $clr-txt-darker;
            
            ol {
                max-width: 28ch;
                list-style: decimal;
                margin-inline-start: rem(16px);

                li:not(:last-child) {
                    margin-block-end: rem(12px);
                }
            }
        }
    }
    &-list-item {
        box-shadow: $slight-border-bottom;
    }
    &-pagination {
        padding: rem(16px) 0;
    }
}