.interaction-list {
    background-color: $clr3;
    font-size: rem(12px);
    line-height: rem(36px);
    padding: 0 rem(24px);

    @include for-wide-layout {
        padding: 0 0 0 rem(16px);
    }

    &-header {
        display: none;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 1px 1px rgba($clr12, .17);
        color: $clr12;
        
        @include for-mobile-layout {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;

            & > *:not(:last-child) {
                margin-inline-end: rem(5px);
            }
        }
    }
    &-list {
    }
}