.interaction-list {
    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        padding: rem(16px) 0;
        line-height: normal;
        font-size: rem(14px);
        color: rgba($clr-txt-darker, .9);
    }
}