.interaction-preview {
    font-family: roboto-medium, sans-serif;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(17px);
    color: $clr-txt-darker;

    
    &-inner {
        padding-inline-start: rem(20px);
    }

    &-header {
        padding: rem(18px) 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        @include for-narrow-layout {
            flex-wrap: nowrap;
        }

        & > span {
            &:first-child {
                flex-basis: 100%;
                text-align: center;
                
                @include for-narrow-layout {
                    flex-basis: 52.66%;
                    text-align: initial;
                }
            }
            &:nth-child(2) {
                text-transform: capitalize;
                flex-basis: 50%;

                @include for-narrow-layout {
                    flex-basis: 33.33%;
                }
            }
            &:nth-child(3) {
                flex-basis: 50%;
                display: inline-block;
                min-width: rem(110px);
                font-family: roboto-bold, sans-serif;
                font-weight: 700;
                text-align: right;
                
                @include for-narrow-layout {
                    text-align: center;
                    flex-basis: auto;
                }
            }
        }
    }
    &-content {
        margin: rem(22px) 0 rem(26px);
        position: relative;

        .de-activator {
            position: absolute;
            top: 50%;
            right: rem(42px);
            transform: translate(0, -50%);
            
            @include for-wide-layout {
                right: rem(58px);
            }
        }
        h3 {
            margin-block-end: rem(20px);
            text-transform: uppercase;
        }
        p {
            color: rgba($clr1, .8);
            line-height: rem(20px);
            font-family: roboto, sans-serif;
            font-weight: normal;
            padding-inline-end: 20%;
            letter-spacing: rem(.07px);

            .interaction-link {
                text-transform: capitalize;
                color: rgba($green, .8);
                white-space: nowrap;
            }
        }
    }
}