.interaction-preview {
    font-family: roboto-medium, sans-serif;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(17px);
    color: $clr-txt-darker;
    
    &.positive-booster {
        box-shadow: $slight-border-top;
        margin-block-start: 1px;
    }

    &-header {
        pointer-events: all;
        margin: rem(16px) 0;

        &.empty-group {
            pointer-events: none;
        }
        &.child {
            box-shadow: none;
            margin: rem(5px) 0;

            &:not(.dups-list) {
                & > span:first-child {
                    @include for-narrow-layout {
                        transform: translateX(10px);
                    }
                    
                    @include for-wide-layout {
                        transform: translateX(40px);
                    }
                }
            }
        }
        .minus-icon {
            position: absolute;
            top: rem(15px);
            left: 0;

            @include for-narrow-layout {
                display: none;
            }
        }
        .evidence-level {
            display: inline-block;
            margin-inline-end: 3px;
        }
    }
    .negative-msg{
        padding-bottom: 30px;
        padding-left: 16px;
        box-shadow: $slight-border-bottom;
        margin-bottom: 1px;
    }
    &-content {
        position: relative;
        box-shadow: $slight-border-y;
        margin: 1px 0;
        padding: rem(14px) 0;
        
        &.group {
            padding: 0;
        }
        &.child {
            margin-block-start: rem(14px);

            .interaction-preview-header {
                & > span:first-child {
                    transform: translateX(20px);
                    @include for-wide-layout {
                        transform: translateX(80px);
                    }
                }
            }
            &:not(.dups-list) {
                .interaction-preview-header {
                    & > span:first-child {
                        transform: translateX(10px);
                        @include for-wide-layout {
                            transform: translateX(40px);
                        }
                    }
                }
            }
        }
        &.link {
            margin: 0;
        }
        .chevron-icon {
            position: absolute;
            top: 20px;
            right: 0;
            transform: translate(-50%, 40%);
        }
        
        .msg {
            color: $clr-txt-darker;
            font-size: rem(12px);
            line-height: rem(32px);
            padding-inline-start: rem(24px);
            opacity: .8;
        }
        .de-activator {
            position: absolute;
            top: 50%;
            right: 25%;
            transform: translateY(-50%);

            &-bottom {
                position: absolute;
                left: 50%;
                bottom: 0;
                top: unset;
                right: unset;
                transform: translate(-50%, 50%);
            }
        }
        h3 {
            margin: rem(20px) 0;
            text-transform: uppercase;
        }
        p, .monitor-list {
            color: rgba($clr1, .8);
            line-height: rem(20px);
            font-family: roboto, sans-serif;
            font-weight: normal;
            letter-spacing: rem(.07px);
            
            @include for-narrow-layout {
                padding-inline-end: 14%;
            }

            .interaction-link {
                text-transform: capitalize;
                color: rgba($green, .8);
                white-space: nowrap;
            }
        }
    }
    .txt {
        display: inline-block;
        padding: rem(12px) rem(18px);
        font-family: roboto, sans-serif;
        font-weight: 300;
        font-size: rem(14px);
        line-height: 1;
        color: $clr-txt-darker;
    }
    .monitor-list {
        padding-inline-start: rem(30px);

        &-header {
            color: rgba($clr-txt-dark, .8);
        }
    }
    .poss-booster-count{
        position: absolute;
        left: 10%;
        top: 26px;

        @include for-narrow-layout {
            left: 35%;
            top: 29px;
            transform: translateX(10px);
        }
    }
}