.monitor-summary {
  font-size: rem(16px);
  line-height: rem(20px);
  // font-family: roboto-medium, sans-serif;
  // font-weight: 500;
  color: $clr-txt-darker;

  display: flex;
  flex-direction: column;
  gap: rem(5px);

  &-header {
    padding: rem(10px) 0;
    margin-inline-start: rem(30px);
    margin-inline-end: rem(30px);
    // text-align: left !important;

    .capsule {
      display: inline-block;
      position: relative;
      font-size: rem(18px);
      color: $clr1;

      .de-activator {
        right: -24px;
        top: calc(50% + 2px);
      }
    }
  }
  &-footer {
    // text-align: center;
    // padding: 10px 0px;
    padding: rem(10px) rem(30px);
  }
  .WTM-title {
    margin: rem(5px) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    // @include for-narrow-layout {
    //   text-align: center;
    // }
    // box-shadow: 0px 1px 1px 0 rgb(95 95 95 / 17%);
  }
  &-list {
    color: rgba($clr1, 0.8);
    line-height: rem(20px);
    font-family: roboto, sans-serif;
    font-weight: normal;
    letter-spacing: rem(0.07px);
    padding: rem(5px) 0;
    padding-inline-start: rem(30px);
    padding-inline-end: rem(30px);

    @include for-narrow-layout {
      padding-inline-end: 14%;
    }

    &-header {
      color: rgba($clr-txt-dark, 0.8);
    }

      
    p {
      margin-bottom: 8px;
    }

    .depleted-section.as-text {
      p:not(:last-child) {
        margin-bottom: 5px !important;
      }
      // margin-bottom: 7px;
      margin-bottom: 5px;
    }

    li:not(:last-child) {
      margin-block-end: rem(4px);
    }
  }
}
