.side-navigation {
    position: absolute;
    top: 0;
    left: 0;
    color: $clr-txt-darker;
    font-family: roboto-bold, sans-serif;
    font-weight: 700;
    font-size: rem(16px);
    line-height: rem(40px);
    display: none;

    @include for-middle-layout {
        display: initial;
    }
    @include for-wide-layout {
        font-size: rem(18px);
    }
    
    &-nav {
        position: fixed;
        top: rem(280px);
        transform: translateX(-110%);
        transition: top .15s linear;

        &.sticky {
            top: 50px;
        }

        &-item {
            display: flex;
            align-items: center;
        }
    }

    a {
        display: block;

        &:not(.primary-header) {
            padding-inline-start: rem(12px);
            max-width: rem(150px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: rem(36px);
        }
        &.active {
            color: $green;
        }
    }
    .primary-header {
        pointer-events: all;
        text-transform: uppercase;
        width: max-content;
    }
}