.featured-interaction-app {
    &-filter-field {
        width: 30%;
    }
    &-list {
        tbody {
            tr {
                cursor: pointer;
    
                &.v-data-table__expanded.v-data-table__expanded__row {
                    background-color: lighten(#eeeeee, 1%);
                }
            }
            td.expanded {
                cursor: default;
                background-color: lighten(#eeeeee, 1%);
            }
            .featured-interaction-list {
                display: flex;
                justify-content: center;

                &-filter {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &-field {
                        width: 30%;
                        flex-grow: 0;

                        &.composed {
                            width: unset;
                            display: flex;
                            align-items: center;

                            & > span {
                                margin-top: -4px;
                            }
                        }
                    }
                    .v-input__slot {
                        margin-bottom: 0 !important;
                    }
                }
                &-actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                }
                main {
                    width: 100%;

                    tr {
                        cursor: default;
                    }
                }
                [role=progressbar] {
                    margin: 24px 0;
                }
            }
        }
    }
}