.filter-results {
    position: absolute;
    width: 600px;
    background-color: seashell;
    padding: 12px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    li {
        text-align: start;
        margin-bottom: 10px;
    }
    }

}