.nav-bar {
    margin-bottom: 12px;

    .nav-bar-cms {
        display: flex;
        z-index: 99;
        background-color: #2196f3;
        flex-wrap: wrap;
        padding: 0 20px;
        
        .logo-container {
            img {
                width: 24px;
                margin-inline-start: 4px;
            }

            span {
                font-size: 22px;
                text-transform: capitalize;
                color: white;
            }
        }

        .nav-link {
            padding: 20px 16px;
        }
    }
}