.pathway-table {
    &-add-btn {
        cursor: pointer;
        float: right;
        margin: 5px;

        &:hover {
            color: rgba(0, 0, 0, 0.70);
        }
    }
    &-full-ref {
        padding: 8px 0;

        p:last-child {
            margin-bottom: 0;
        }
    }
    .action-types {
        color: white !important;
        cursor: help;
    }
    &-actions {
        text-align: center;
    }
}