.contact-us {
    flex-grow: 1;
    display: flex;
    color: rgba($clr10, .85);
    font-size: rem(18px);
    line-height: rem(26px);

    &-container {
        flex-grow: 1;
    }

    header {
        background-color: $clr3;
        padding: rem(95px) 0 0 rem(65px);

        p {
            max-width: 28ch;
        }
        .d-block {
            margin-block-end: rem(35px);
        }
    }

    
    .brim-start {
        background-color: $clr3;
    }
    .heading1 {
        margin: rem(65px) 0 rem(35px);
    }
}