.home {
    flex-grow: 1;
    text-align: center;
    
    header {
        background-image: url('../assets/imgs/home-bg-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block-start: 55px;
        
        @include for-mobile-layout {
            padding-block-start: 66px;
            background-image: url('../assets/imgs/home-bg.jpg');
        }
    }
    h1 {
        margin-block-end: rem(40px);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: rem(18px);
        line-height: rem(24px);
        color: rgba($clr-txt-dark, .85);
        
        @include for-mobile-layout {
            font-size: rem(24px);
            line-height: rem(30px);
        }
        [alt="Efficasafe Logo"] {
            width: 170px;
            margin-block-end: rem(40px);
            @include for-mobile-layout {
                width: 220px;
            }
        }
        .keyword1, .keyword2 {
            font-family: roboto-bold, sans-serif;
            font-weight: 700;
        }
        .keyword1 { color: $gradient-clr1; }
        .keyword2 { color: $gradient-clr2; }
        .sub {
            display: block;
            font-size: rem(14px);

            @include for-mobile-layout {
                font-size: rem(18px);
            }
        }
    }
    &-container {
        width: calc(100% - 25px);
        max-width: 736px;
        margin: 0 auto;
    }
    &-form {
        width: 100%;
        font-size: rem(14px);
        padding: rem(6px);
        background-color: rgba($clr7, .5);
        border-radius: rem(100px);
        position: relative;
        margin-block-end: rem(220px);
        
        
        input {
            width: 50%;
            text-align: center;
            padding: rem(14px) 0;
            background-color: $white;
            font-family: roboto-medium, sans-serif;
            border-radius: rem(100px);
            border-width: 0;
            position: relative;
            
            @include for-mobile-layout {
                padding: rem(14px) 0 rem(14px) rem(24px);
                text-align: initial;
                font-size: rem(15px);
            }
            &::placeholder {
                font-family: roboto, sans-serif;
            }
            &:first-child {
                box-shadow: -8px 0px 0px 0px $clr8 inset;
                border-inline-end: 0 solid $clr8;
                &::placeholder {
                    color: inherit;
                    font-family: roboto-medium, sans-serif;
                }
            }
            &:last-child {
                border: 1px dashed $black;
                box-shadow: 8px 0px 0px 0px $clr9 inset;
                border-inline-start: 0 solid $clr9;
            }
        }
    }
    &-swiper {
        position: relative;
        transform: translateY(20%);
        
        .chevron {
            position: absolute;
            top: calc(40% - 10px);
            cursor: pointer;
            display: none;

            @include for-narrow-layout {
                display: initial;
            }

            &-prev {
                left: rem(-36px);
            }
            &-next {
                right: rem(-36px);
            }
        }
        .pagination {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 30px);
            @include for-narrow-layout {
                display: none;
            }

            label:not(:last-child) {
                display: inline-block;
                margin-inline-end: 10px;
            }
            .dot {
                cursor: pointer;
                display: inline-block;
                height: 10px;
                width: 10px;
                background-color: $white;
                border-radius: 50%;
                opacity: .3;
                transition: opacity .2s linear;
            }
            [type=radio]:checked + .dot {
                opacity: 1;
            }
        }
    }
    &-stats {
        height: 210px;
        background-color: $clr5;
        color: $white;
        padding: rem(35px) 0 rem(45px);
        align-self: stretch;
        
        @include for-mobile-layout {
            font-size: rem(18px);
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: roboto-light, sans-serif;
                line-height: rem(36px);
                font-weight: 300;
                position: relative;
                
                &:not(:last-child) {
                    border-inline-end: 1px solid rgba($white, .3);
                }
                &:first-child {
                    @include for-mobile-layout {
                        padding-inline-end: 20%;
                    }
                }
                &:last-child {
                    @include for-mobile-layout {
                        padding-inline-start: 20%;
                    }
                }
                span {
                    font-size: rem(18px);
                    font-family: roboto-bold, sans-serif;
                    font-weight: 700;
                    display: inline-block;
                    @include for-mobile-layout {
                        font-size: rem(24px);
                    }
                }
            }
        }
        &-quote {
            background-color: $white;
            box-shadow: 0px 3px 22px rgba($black, .85);
            border-radius: 12px; 
            color: rgba($clr-txt-dark, .85);
            line-height: rem(20px);
            padding: rem(35px) rem(35px) rem(30px);
            
            @include for-mobile-layout {
                padding: rem(35px) rem(70px) rem(30px);
            }

            &::before {
                content: url("../assets/icons/quate-start.svg");
                top: 10px;
                left: 0;
                @include for-narrow-layout {
                   top: 0;
                }
            }
            &::after {
                content: url("../assets/icons/quate-end.svg");
                bottom: 30px;
                right: 10px;
                @include for-narrow-layout {
                   bottom: 0;
                }
            }
            &::before, &::after {
                position: absolute;
                width: rem(35px);
            }
            span {
                display: block;
                margin-block-start: rem(22px);
                color: rgba($clr10, .85);
                font-style: rem(14px);
            }
        }
    }
    &-content {
        background-image: linear-gradient(90deg, $gradient-clr1, $gradient-clr2);
        height: 50vh;/// DELETE THIS WHEN THERE IS CONTENT!
    }
}