.interaction-details {
    flex-grow: 1;
    font-size: rem(14px);
    line-height: rem(16px);

    .subheader {
        text-transform: uppercase;
        color: $clr1;
        margin-block-end: rem(20px);
    }
    .subheader2 {
        color: $clr-txt-dark;
        pointer-events: all;
        margin-block-end: rem(20px);
    }
    .paragraph {
        margin-block-end: rem(22px);
        
        @include for-narrow-layout {
            padding-inline-end: 30%;
        }
    }
    &-header {
        background-color: $clr6;
        padding: rem(12px) 0;

        @include for-narrow-layout {
            padding: rem(48px) 0;
        }

        &-link {
            color: $clr1;
            font-size: rem(12px);
            line-height: rem(14px);
            font-family: roboto-medium, sans-serif;
            font-weight: 500;

            @include for-narrow-layout {
                background-color: $clr1;
                color: $white;
                border-radius: 0 100px 100px 0;
                padding: rem(12px) rem(42px) rem(12px) rem(32px);
                font-size: rem(21px);
                line-height: rem(24px);
            }

            .chevron-left-icon {
                height: rem(24px);
            }
        }
        &-actions {
            display: none;

            @include for-narrow-layout {
                display: initial;
            }

            .print-btn {
                margin-inline-end: rem(24px);
            }
        }
    }
    &-content {
        &-header {
            background-color: $white;
            padding: rem(24px) 0;
            border-color: rgba($clr12, .35);
            border-style: solid;
            border-width: 1px 0;

            @include for-narrow-layout {
                padding: rem(14px) 0;
            }
        }
        .recommendation-capsule {
            color: $white;
            border-radius: 100px;
            padding: rem(10px) rem(22px);
            display: none;

            @include for-narrow-layout {
                display: inline;
            }
        }
        .capsules {
           position: absolute;
           left: 50%;
           transform: translateX(-50%);
           margin-block-end: 0;

           @include for-narrow-layout {
               left: 0;
               transform: none;
           }
        }
        .evidence-level {
            font-family: roboto-medium, sans-serif;
            font-weight: 500;
            position: absolute;
            right: 0;
            display: none;

            @include for-narrow-layout {
                display: inline;
            }
            
            &-tooltip-content {
                color: $clr-txt-dark;
                font-family: roboto, sans-serif;
                font-weight: 400;
                line-height: rem(16px);
                padding: rem(16px) rem(14px);
                max-width: 24ch;
            }

            .information-outline-icon {
                height: 12px;
            }
        }
        .refs {
            display: inline-flex;
            align-items: center;
            font-family: mulish, sans-serif;
            font-weight: 300;
            font-size: rem(11px);
            line-height: rem(14px);
            cursor: help;

            &-count {
                margin-inline-end: 2px;
            }
        }
    }
    &-details {
        padding-block-start: rem(14px);
        padding-block-end: rem(48px);
        color: rgba($clr-txt-darker, .9);
        background-color: $clr3;
        border-bottom: 1px solid rgba($gray, .6);
        
        .note-container {
            color: $clr1;
            font-family: roboto-medium, sans-serif;
            font-weight: 500;
            margin-block-end: rem(14px);
            justify-content: flex-start;
            align-items: stretch;
            order: -1;

            @include for-narrow-layout {
                justify-content: center;
                align-items: center;
                order: unset;
            }

            & > .note {
                padding: rem(8px) rem(14px);
                background-color: $clr14;
                border-radius: 2px;
                border: 1px solid rgba($clr1, .26);
                opacity: .75;
                flex-basis: 70%;
                text-align: center;

                @include for-narrow-layout {
                    flex-basis: unset;
                    text-align: unset;
                }
            }
            & > .evidence-level {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: static;
                flex-basis: 30%;
                background-color: $clr16;
                border-radius: 2px;

                @include for-narrow-layout {
                    display: none;
                }
            }
        }
        .monitor {
            margin-block-end: rem(42px);

            & > div {
                line-height: rem(20px);
            }
        }
        .review-of-studies p {
            margin-block-end: rem(12px);
        }
        .review-of-studies, .pharmacokinetics {
            .subheader {
                pointer-events: all;
            }
            .de-activator {
                position: static;
                transform: none;
            }
            .badge {
                margin: 0 rem(8px);
                font-family: roboto-medium, sans-serif;
                font-weight: 500;

                &.red {
                    background-color: $red;
                }
                &.yellow {
                    background-color: $yellow;
                }
                &.green {
                    background-color: $green;
                }
            }
        }
        .narrow-therapuetic-warnning {
            font-size: rem(12px);
            line-height: rem(14px);
            padding: rem(20px) rem(22px);
            width: 100%;
            border: 1px solid $red;
            background-color: $clr15;
            border-radius: 2px;
            color: $clr-txt-darker;
            margin-block-end: rem(24px);

            @include for-narrow-layout {
                position: absolute;
                top: 0;
                right: 24px;
                left: unset;
                width: rem(250px);
                padding: rem(20px) rem(22px) rem(42px);
                border-radius: 18px;
                margin-block-end: 0;
            }
        }
    }
    &-refs {
        padding-block-start: rem(14px);
        font-size: rem(12px);
        line-height: rem(14px);
        color: rgba($clr12, .9);

        .subheader {
            color: inherit;
        }
    }
    .mobile-coloumn {
        display: flex;
        flex-direction: column;
    }
}