.interaction-details {
    flex-grow: 1;
    font-size: rem(14px);
    line-height: rem(16px);

    .subheader {
        text-transform: uppercase;
        color: $clr1;
        margin-block-end: rem(20px);
    }
    .subheader2 {
        color: $clr-txt-dark;
        pointer-events: all;
        margin-block-end: rem(20px);
    }
    .paragraph {
        padding-inline-end: 30%;
        margin-block-end: rem(22px);
    }
    &-header {
        background-color: $clr6;
        padding: rem(48px) 0;

        &-link {
            background-color: $clr1;
            color: $white;
            font-size: rem(21px);
            line-height: rem(24px);
            font-family: roboto-medium, sans-serif;
            font-weight: 500;
            border-radius: 0 100px 100px 0;
            padding: rem(12px) rem(42px) rem(12px) rem(32px);

            .chevron-left-icon {
                height: rem(24px);
            }
        }
        &-actions {
            .print-btn {
                margin-inline-end: rem(24px);
            }
        }
    }
    &-content {
        &-header {
            background-color: $white;
            padding: rem(14px) 0;
            border-color: rgba($clr12, .35);
            border-style: solid;
            border-width: 1px 0;
        }
        .recommendation-capsule {
            color: $white;
            border-radius: 100px;
            padding: rem(10px) rem(22px);
        }
        .capsules {
           position: absolute;
           left: 0;
        }
        .evidence-level {
            font-family: roboto-medium, sans-serif;
            font-weight: 500;
            position: absolute;
            right: 0;
            
            &-tooltip-content {
                color: $clr-txt-dark;
                font-family: roboto, sans-serif;
                font-weight: 400;
                line-height: rem(16px);
                padding: rem(16px) rem(14px);
                max-width: 24ch;
            }

            .information-outline-icon {
                height: 12px;
            }
        }
        .refs {
            display: inline-flex;
            align-items: center;
            font-family: mulish, sans-serif;
            font-weight: 300;
            font-size: rem(11px);
            line-height: rem(14px);
            cursor: help;

            &-count {
                margin-inline-end: 2px;
            }
        }
    }
    &-details {
        padding-block-start: rem(14px);
        padding-block-end: rem(48px);
        color: rgba($clr-txt-darker, .9);
        background-color: $clr3;
        border-bottom: 1px solid rgba($gray, .6);
        
        .note {
            color: $clr1;
            font-family: roboto-medium, sans-serif;
            font-weight: 500;
            margin-block-end: rem(14px);

            & > span {
                padding: rem(8px) rem(14px);
                background-color: $clr14;
                border-radius: 2px;
                border: 1px solid rgba($clr1, .26);
                opacity: .75;
            }
        }
        .monitor {
            margin-block-end: rem(42px);

            & > div {
                line-height: rem(20px);
            }
        }
        .review-of-studies, .pharmacokinetics {
            .subheader {
                pointer-events: all;
            }
            .de-activator {
                position: static;
                transform: none;
            }
            .badge {
                margin: 0 rem(8px);
                font-family: roboto-medium, sans-serif;
                font-weight: 500;

                &.red {
                    background-color: $red;
                }
                &.yellow {
                    background-color: $yellow;
                }
                &.green {
                    background-color: $green;
                }
            }
        }
        .narrow-therapuetic-warnning {
            font-size: rem(12px);
            line-height: rem(14px);
            padding: rem(20px) rem(22px) rem(42px);
            width: rem(250px);
            border: 1px solid $red;
            background-color: $clr15;
            border-radius: 18px;
            color: $clr-txt-darker;
            position: absolute;
            top: 0;
            right: 50px;
        }
    }
    &-refs {
        padding-block-start: rem(14px);
        font-size: rem(12px);
        line-height: rem(14px);
        color: rgba($clr12, .9);

        .subheader {
            color: inherit;
        }
    }
    
}