.main-index {
  width: 100%;
  min-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  button {
    background: #e2f0f0;
    color: #225474;
    border: 1px solid #62717a00;
    border-radius: 8px;
    transition: 0.3s;
  }
  button:not(.disabled):hover {
    border: 1px solid #225574b5;
    background-color: #407aa0;
    color: white;
  }
  .focused {
    background-color: #225474 !important;
    color: white;
  }
  .index-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;
    width: 100%;
    background-color: #e2e2e2;

    .index-search-material-type {
      display: flex;
      //   justify-content: space-around;
      width: 100%;
      justify-content: center;
      gap: 30px;
      button {
        padding: 2px 15px;
        border: 1px solid #225574b5;
        // border-radius: 22px;
        // background: #e2f0f0;
        // color: #225474;
        // border: 1px solid #62717a00;
      }
      // button:hover {
      //   border: 1px solid #225474;
      // }
      // .focused {
      //   background-color: #225474;
      //   color: white;
      // }
    }

    .index-search-input {
      width: 100%;
    }
    .autocomplete-field {
      flex-basis: 100%;

      > input {
        text-align: left;
        padding-inline-start: 25px;
      }
    }
  }
  .material-under-study {
    position: relative;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .material-under-study-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .material-under-study-img {
      display: flex;
      justify-content: center;
      svg:nth-child(2) {
        transform: translate(-70%, 20%);
      }
    }
    .material-under-study-content {
      text-align: center;
      margin-top: rem(20px);
    }
  }
  .main-index-letters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px 0px;
    flex-wrap: wrap;
    gap: 9px;
    .letter-btn {
      width: 32px;
      height: 32px;
      // background: #e2f0f0;
      // color: #225474;
      // border-radius: 8px;
    }
    // .letter-btn:hover {
    //   border: 1px solid #225474;
    // }
    // .focused {
    //   background-color: #225474;
    //   color: white;
    // }
    @media (max-width: 1220px) {
      justify-content: flex-start;

      gap: 7px;
    }
  }
  .main-index-sub-letters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    // padding: 20px 5px;
    padding: 0px 5px 20px 5px;

    gap: 10px;
    button {
      padding: 5px;
      background: #efefef;
    }
    @media (max-width: 1220px) {
      gap: 7px;
      justify-content: flex-start;
    }
  }
  .main-index-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .letters-container {
    width: 100%;
  }

  .index-main-content {
    width: 100%;
    column-count: 5;
    column-gap: 20px;
    line-height: 30px;
    color: $clr1;
    margin-top: 20px;

    overflow-y: scroll;

    @media (max-width: 1100px) {
      // text-align: center;
      column-count: 4;
    }
    @media (max-width: 920px) {
      // text-align: center;
      column-count: 3;
    }
    @media (max-width: 858px) {
      // text-align: center;
      column-count: 2;
    }
    @media (max-width: 768px) {
      // text-align: center;
      column-count: 1;
    }

    .results-container {
      // margin: 5px 0px;
      font-size: 14px;
      transition: 0.5s;
      padding: 5px;
      p {
        font-weight: 500;
      }
    }
    .results-container:not(.disabled):hover {
      background-color: rgba(204, 204, 204, 0.511);
    }
  }
}
.disabled {
  color: grey;
  cursor: initial;
  opacity: 0.5;
  // pointer-events: none;
}
