.payment-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 864px;
    margin: 0 auto;

    @media (max-width: $break-narrow) {
        width: 300px;
    }

    .logo{
        margin: 50px 0;
        @media (max-width: $break-narrow) {
            margin: 30px 0;
        }
    }

    .loggin-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        .loggin-req{
            color: #133146;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 20px;
        }
        
        .signup-btn{
            margin-block-end: rem(20px);
            border-radius: 100px;
            padding: rem(8px) rem(36px);
            background-color: $clr2;
            color: $white;
            
            @include hover-supported {
                box-shadow: none;
            }
        }
    }


    .form-container{
        width: 600px;
        border: 1px solid #D5D5D5;
        margin-bottom: 50px;
        @media (max-width: $break-narrow) {
            width: 300px;
        }

        .user-registration-form{
            display: flex;
            flex-direction: column;
            margin: 30px;

            .form-title{
                color: #133146;
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 10px;
            }

            .form-input{
                font-size: 12px;

                .label{
                    color: black !important;
                    // opacity: 60%;
                }
            }

        }
    }

    .cupon-input{
        align-self: start;
        margin-left: 112px;
        width: 77%;
        margin-bottom: 30px;

        .label{
            color: black;
            // opacity: 80%;
        }

        @media (max-width: $break-narrow) {
            margin-left: 15px;
            width: 88%;
        }
    }

    .headline{
        font-size: 22px;
        color: #133146;
        margin-bottom: 35.5px;
        @media (max-width: $break-narrow) {
            text-align: center;
        }
    }

    .cards-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        flex-wrap: wrap;
        @media (max-width: $break-narrow) {
            width: 70%;
            margin-bottom: 10px;
        }

        .card{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 212.5px;
            height: 170px;
            border-radius: 22px;
            box-shadow: 0px 3px 22px #00000029;
            @media (max-width: $break-narrow) {
                margin-bottom: 20px;
            }

            .card-title{
                text-transform: uppercase;
                font-size: 14.5px;
                color: #56C596;
                font-weight: bold;
                // opacity: 85%;
                margin-top: 21.6px;
                margin-bottom: 22.2px;
            }

            .card-price{
                font-size: 12px;
                color: #133146;
                font-weight: 500;
                margin-bottom: 22.2px;
                span{
                    font-size: 28.8px;
                }
            }

            .card-btn{
                width: 141.5px;
                height: 24px;
                text-transform: uppercase;
                color: white;
                font-size: 10.8px;
                background-color: #205072;
                border: 1px solid #205072;
                border-radius: 5px;
                margin-bottom: 27.6px;
                letter-spacing: 1px;
            }

            .ribbon{
                width: 107px;
                height: 63px;
                background-color: #56C596;
                transform: rotate(45deg);
                position: absolute;
                top: -17px;
                right: -39px;
                overflow: hidden;
                clip-path: polygon(15% 76%, 85% 76%, 100% 100%, 0% 100%);
                span{
                    position: absolute;
                    bottom: -1.5px;
                    right: 14px;
                    font-size: 12px;
                    color: #F0F9FF;
                }
            }
        }

        .selected{
            box-shadow: 0px 3px 22px 6px #55C595;
        }
        
    }

    .payment-btn{
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 10.8px;
        background-color: #205072;
        border: 1px solid #205072;
        border-radius: 5px;
        margin-bottom: 27.6px;
        letter-spacing: 1px;
        margin-top: 30px;
    }
}