.subscribe-page{
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
        margin: 50px 0;
    }

    .positive-container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 33px;

        .positive{
            display: flex;
            align-items: center;
            justify-content: start;
            border-radius: 95px;
            width: 188px;
            height: 60px;
            background-color: #E6FAF9;
            text-transform: uppercase;

            img{
                width: 30px;
                margin-left: 18px;
            }
            .positive-txt-container{
                margin-left: 12.5px;

                h4{
                    font-size: 14.5px;
                    color: #56C596;
                    font-weight: bold;
                }
                h3{
                    font-size: 11px;
                    font-weight: bold;
                    color: #536979;
                }
            }
        }
    }

    .headline{
        font-size: 22px;
        color: #133146;
        margin-bottom: 35.5px;
    }

    .cards-container {
        width: 90%;
        display: flex;
        justify-content: space-between;

        
    }
}