.subscribe-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 864px;
    margin: 0 auto;

    @media (max-width: $break-narrow) {
        width: 300px;
    }

    .logo{
        margin: 50px 0;
        @media (max-width: $break-narrow) {
            margin: 30px 0;
        }
    }

    .positive-container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 33px;
        flex-wrap: wrap;

        .positive{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 95px;
            width: 188px;
            height: 60px;
            background-color: #E6FAF9;
            text-transform: uppercase;
            @media (max-width: $break-narrow) {
                margin-bottom: 10px;
            }

            img{
                width: 30px;
                margin-left: 18px;
            }
            .positive-txt-container{
                margin-left: 12.5px;

                h4{
                    font-size: 14.5px;
                    color: #56C596;
                    font-weight: bold;
                    // opacity: 85%;
                }
                h3{
                    font-size: 11px;
                    font-weight: bold;
                    color: #536979;
                }
            }
        }
    }

    .coupon-input-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-block-end: 37px;

        .coupon-input{
            width: 300px;
            border: none;
            border-bottom: 1px solid grey;
            &:focus{
                outline: none;
            }
        }

        .coupon-input-btn{
            width: 150px;
            height: 30px;
            text-transform: uppercase;
            color: white;
            font-size: 10.8px;
            background-color: #205072;
            border: 1px solid #205072;
            border-radius: 5px;
            margin-bottom: 27.6px;
            letter-spacing: 1px;
            margin-top: 19.8px;
            margin-left: 7px;
        }

        .invalid-input{
            border-color: $red;
        }

        .invalid-btn{
            background-color: $red;
            border: none;
        }
    }

    .headline{
        font-size: 22px;
        color: #133146;
        margin-bottom: 35.5px;
    }

    .cards-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        flex-wrap: wrap;
        @media (max-width: $break-narrow) {
            width: 70%;
            margin-bottom: 10px;
        }

        .card{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 212.5px;
            height: 240px;
            border-radius: 22px;
            box-shadow: 0px 3px 22px #00000029;
            -webkit-user-select: none;  
            -moz-user-select: none;  
            -ms-user-select: none;  
            -o-user-select: none;  
            user-select: none;
            cursor: pointer;
            @media (max-width: $break-narrow) {
                margin-bottom: 20px;
            }

            &:hover{
                box-shadow: 0px 0px 0px 3px $clr1;
            }

            &.with-stars{
                height: 200px;
            }

            .stars{
                margin-block-start: 19px;

                .star-icon{
                    color: #FBCE76;
                }
            }

            .card-title{
                text-transform: uppercase;
                font-size: 14.5px;
                color: #56C596;
                font-weight: bold;
                margin-top: 40px;
                margin-bottom: 22.2px;
                width: 60%;
                text-align: center;
                &.margin-top{
                    margin-block-start: 12px;
                }
            }

            .card-price{
                font-size: 13px;
                color: #133146;
                font-weight: 500;
                span{
                    font-size: 28.8px;
                }
            }

            .card-billing-txt{
                font-weight: 500;
                font-size: 13px;
                text-align: center;
                color: #133146;
                margin-bottom: 22.2px;
            }

            .card-btn{
                width: 141.5px;
                height: 24px;
                text-transform: uppercase;
                color: white;
                font-size: 10.8px;
                background-color: #205072;
                border: 1px solid #205072;
                border-radius: 5px;
                margin-bottom: 27.6px;
                letter-spacing: 1px;
            }

            .margin-top{
                margin-top: 30px;
            }

            .ribbon-container{
                position: absolute;
                top: -22px;
                left: -22px;

                img{
                    width: 120px;
                }

                .ribbon-txt{
                    color: #FFFFFF;
                    font-weight: bold;
                    position: absolute;
                    top: 27px;
                    left: 25px;
                    transform: rotate(-45deg);
                }

                .ribbon-coupon{
                    top: 32px;
                    left: 20px;
                    font-size: 11px;
                }

                .ribbon-txt-save{
                    color: #FFFFFF;
                    font-weight: bold;
                    position: absolute;
                    top: 40px;
                    left: 30px;
                    transform: rotate(-45deg);
                }

                .ribbon-deal{
                    top: 41px;
                    left: 38px;
                    font-size: 11px;
                }
            }
        }

        .enterprise-card{
            padding: 0px 30px;

            .enterprise-card-title{
                text-transform: uppercase;
                font-size: 14.5px;
                color: #56C596;
                font-weight: bold;
                margin-top: 50px;
                margin-bottom: 39px;
            }

            .card-txt{
                font-size: 13px;
                text-align: center;
                font-weight: 500;
                color: #133146;
                margin-bottom: 22.5px;
            }
        }

        .selected{
            box-shadow: 0px 0px 0px 3px $clr1;

            button{
                background-color: $clr2 !important;
                border: none !important;
            }
        }
        
    }

    .payment-btn{
        position: relative;
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 10.8px;
        background-color: #205072;
        border: 1px solid #205072;
        border-radius: 5px;
        margin-bottom: 27.6px;
        letter-spacing: 1px;

        .card-imgs-container{
            position: absolute;
            height: 100%;
            color: black;
            display: flex;
            align-items: center;
            gap: 8px;
            top: 8%;
            right: -130px;
            cursor: default;

            @media (max-width: $break-narrow) {
                top: 100%;
                right: 43px;
            }

            img {
                width: 35px;
            }
        }
    }

    .disabled{
        background-color: #7292a9;
        border: none;
    }
    .payment-loader-container{
        display: flex;
        align-items: center;
        justify-content: center;

        .loader{
            width: 33px;
            margin-left: 10px;
        }
    }

    .benefits-container{
        margin-bottom: 33px;
        @media (max-width: $break-narrow) {
            margin-top: 50px;
        }
        .benefits-title{
            font-size: 14.5px;
            color: #133146;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .benefit{
            display: flex;
            margin-bottom: 9.6px;
            img{
                width: 20px;
                height: 22px;
                margin-right: 7.2px;
            }
            p{
                font-size: 13px;
                color: #536979;
                span{
                    font-weight: bold;
                }
            }
        }
    }

    .payment-disclaimer{
        width: 80%;
        margin-bottom: 33px;
        
        p{
            font-size: 13px;
            color: grey;
            margin-top: 15px;
        }

        a{
            text-decoration: underline;
            color: $clr2;
        }
    }

    .group-sub-modal-container{
        width: 480px;
        height: 560px;
        background-color: white;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;

        @media(max-width: 580px){
            width: 330px;
        }

        &-logo{
            width: 200px;
            margin: 0 100px;
            margin-bottom: 20px;

            @media(max-width: 580px){
                margin: 0 10px;
                margin-bottom: 20px;
            }
        }

        h3{
            font-weight: 400;
            font-size: 20px;
            color: #133146;
            margin-bottom: 10px;
        }

        .reg-input{
            width: 100%;
            background-color: transparent;
            border: none;
            -webkit-padding-start: 0.5rem;
            padding-inline-start: 0.5rem;
            transition: border-color 0.3s ease-in-out;
            font-size: 1.125rem;
            border-bottom: 1px solid rgba(128, 128, 128, 0.205);
            line-height: 2rem;
            margin-bottom: 20px;

            &::placeholder{
                color: rgba(128, 128, 128, 0.397);;
            }

            &:focus{
                outline: none;
            }
        }

        .last-input-form{
            margin-bottom: 32px;
        }

        button{
            width: 100%;
            height: 42px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            background-color: #205072;
            border: 1px solid #205072;
            border-radius: 6px;
            letter-spacing: 1px;
        }
    }

    .loader-rap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .loader{
            width: 200px;
        }
    }

    .ml{
        margin-left: 7.5px;
    }

    .hide{
        display:none !important;
    }

    .justify-center{
        justify-content: center;
    }
}