.success-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    img{
        margin-top: 35px;
        margin-bottom: 50px;
    }

    h2{
        color: #133146;
        font-size: 36px;
        opacity: 0.85;
        margin-bottom: 24px;
        line-height: 38px;
    }
    
    h3{
        color: #133146;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        line-height: 30px;
    }
    
    .go-search-btn {
        margin-top: 50px;
    }

    .failed-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        button, span{
            margin-block-end: 8px;
        }

        span{
            font-weight: bold;
        }
        
        @include for-narrow-layout {
            flex-direction: row;
            button, span{
                margin-inline-end: 8px;
            }
        }
    }

    .logo{
        height: 50px;
        @media (max-width: $break-narrow) {
            height: 30px;
        }
    }
}