.user-account {
    flex-grow: 1;
    display: flex;

    &-container {
        flex-grow: 1;
    }
    &-navigation {
        padding: rem(85px) 0 0 0;

        &-logo {
            margin-block-end: rem(85px);

            img {
                width: 220px;
            }
        }

        &-nav {
            line-height: 180%;
            color: $clr1;

            li:not(:last-child) {
                margin-block-end: rem(36px);
            }
        }
        
        .nav-link {
            padding: rem(12px) rem(48px);
            border-radius: 6px;
            transition: color .4s ease, background-color .4s ease;
            
            &.exact-active {
                background-color: $clr2;
                color: $white;
            }
        }
    }
}