.about-hebrew-page{
    direction: rtl;

    &-container{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 90px;

        .title{
            font-size: 26px;
            color: $clr1;
            margin-bottom: 40px;
            margin-top: 70px;
            line-height: 30px;
        }

        .sub-title{
            margin-top: 40px;
        }
        .sub-title-2{
            margin-top: 25px;
        }
        .sub-title-3{
            margin-bottom: 20px !important;
        }
        .sub-title-4{
            margin-bottom: 40px !important;
        }

        p{
            line-height: 25px;
            font-weight: bold;
        }

        section{
            margin-bottom: 20px;

            .english{
                direction: ltr;
            }
        }

        .center{
            display: block;
            margin: 0 auto 30px;
        }

        img{
            border-radius: 10px;
        }

        .img1{
            width: 70%;
        }

        .img2{
            width: 100%;
            margin-bottom: 40px;
        }

        .border{
            border: 1px solid #d1d1d1;
        }

        ul{
            list-style-type: disc;
            list-style-position: inside;
            margin-bottom: 40px;

            li{
                margin-right: 20px;
            }
        }

        .space-bottom{
            margin-bottom: 15px !important;
        }

        .highlight{
            font-weight: bold;
            background: -webkit-linear-gradient(left, $gradient-clr1, $gradient-clr2);
            background: -o-linear-gradient(right, $gradient-clr1, $gradient-clr2);
            background: -moz-linear-gradient(right, $gradient-clr1, $gradient-clr2);
            background: linear-gradient(to right, $gradient-clr1, $gradient-clr2); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .sign-up-btn-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0;

            .sign-up-btn{
                background-color: $clr2;
                color: white;
                font-weight: bold;
                border: 1px solid white;
                border-radius: 10px;
                padding: 5px 20px;

            }
        }
    }
}