.interaction-edit {
    padding: 8px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin: 0 auto;

    &-title {
        align-self: flex-start;
        padding: 16px 0 0 0;
    }
    .draft-input {
        width: 40%;
        justify-self: flex-end;
        margin-bottom: 24px;
    }
    .form-actions {
        align-self: flex-end;
        display: flex;

        .cancel-btn {
            margin-inline-end: 8px;
        }
        margin: 12px 0 6px;
    }

    .side-link-container {
        position: relative;

        a {
            position: absolute;
            right: 0;
            top: 20px;
        }
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        padding: 0 16px;

        .int-rec-evi-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;
        }

        .int-sides-active {
            display: flex;
            justify-content: space-between;

            .active-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 300px;

                label {
                    margin-right: 12px;
                }
            }
        }

        label {
            text-align: start;
        }

        .mat-item-list {
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: 2px;
            }

            .item-list {
                margin-top: 6px;
                .item {
                    display: flex;
                    justify-content: space-between;
                    span {
                        font-size: 14px;
                    }
                    button {
                        font-size: 12px;
                    }
                }
            }

            .add-item {
                display: flex;
                justify-content: space-between;

                input {
                    width: 300px;
                }
            }
        }
    }
}
