.interaction-details {
    margin-bottom: 12px;

    .action-container {
        display: flex;
        margin-bottom: 20px;

        > :not(:last-child) {
            margin-inline-end: 10px;
        }
    }
    .v-chip {
        pointer-events: none;
    }
    .refs-table {
        grid-column: 1 / -1;
    }
    .info-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px;
        padding: 12px;

        .interaction-details-title {
            grid-column: 1 / -1;
        }

        .info-title {
            padding-inline-start: 16px;
        }

        .info-value {
            max-width: 75%;
        }

        .info-title,
        .info-value,
        a,
        p {
            text-align: start;
        }

        p {
            margin: 0;
        }

        .side-link {
            margin-inline-start: 24px;
        }
    }
}

.spacing {
    margin: 0 6px;
}
