.interaction-edit-container.portal-active .interaction-edit {
    flex-basis: 60%;
}
.interaction-edit-container.portal-active .portal-container {
    flex-basis: 40%;
    padding: 8px;
}
.interaction-edit-container.portal-active .floating-btns {
    right: calc(40% + 12px);
}
.interaction-edit-container.portal-active .portal-container .close-portal {
    opacity: 1;
}
.interaction-edit-container {
    padding: 6px 12px;
    display: flex;

    .portal-container {
        flex-basis: 0;
        padding: 0;
        z-index: 1;
        margin: 8px 0 24px 0;
        overflow: hidden;
        transition: flex-basis .4s linear;

        .close-portal {
            opacity: 0;
            transition: opacity .3s linear;
        }
        .table-container {
            position: absolute;
            top: 12px;
            left: 0;
            width: 100%;
            padding: 0 8px;

            aside {
                position: fixed;
                width: 38%;
                
            
                .reference-table-shrink, .side-details {
                    max-height: 80vh;
                    overflow-y: auto;
                }
                .side-details {
                    .v-chip {
                        cursor: default;
                    }
                }
            }
        }
        header {
            direction: rtl;
            margin-bottom: 8px;
        }
    }
}
.interaction-edit {
    padding: 8px;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    transition: flex-basis .4s linear;
    
    .ref-table-btn {
        justify-self: flex-start;
    }
    h3 {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
    &-title {
        align-self: flex-start;
        padding: 16px 0 0 0;
    }
    .floating-btns {
        position: fixed;
        bottom: 36px;
        right: 24px;
        z-index: 9;
        transition: right .4s linear;

        button:first-child {
            margin-right: 12px;
        }
    }
    .form-actions {
        align-self: flex-end;
        display: flex;
        padding: 0 6px;
        margin: 12px 0 6px;

        .cancel-btn {
            margin-inline-end: 8px;
        }
    }

    .side-link-container {
        position: relative;

        .details-btn {
            position: absolute;
            right: 0;
            top: 20px;

            &.icon {
                top: 15px;
            }
        }
    }
    
    form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        padding: 0 16px;

        .int-rec-evi-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;
        }

        .int-sides-active {
            display: flex;
            justify-content: space-between;

            .active-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 300px;

                label {
                    margin-right: 12px;
                }
            }
        }

        label {
            text-align: start;
        }

        .mat-item-list {
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: 2px;
            }

            .item-list {
                margin-top: 6px;
                .item {
                    display: flex;
                    justify-content: space-between;
                    span {
                        font-size: 14px;
                    }
                    button {
                        font-size: 12px;
                    }
                }
            }

            .add-item {
                display: flex;
                justify-content: space-between;

                input {
                    width: 300px;
                }
            }
        }
    }
}
