.v-interaction-details {
    &-content {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px
    }
    &-title {
        grid-column: 1 / -1;
        font-size: 1.75em;
    }
    .refs-table {
        grid-column: 1 / -1;
    }
}