.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 1200px;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
}

// .app-main-container {
//     // display: flex;
//     // justify-content: center;
//     // background-color: red($color: #000000);
//     // margin: 0 auto;
// }
// .v-main__wrap {
//     // display: flex;
//     // justify-content: center;
//     // margin: 0 auto;
// }

.app-main-view {
    // display: flex;
    // justify-content: center;
    // background-color: red($color: #000000);
    margin: 0 auto;
}
