.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 1200px;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
}
// .v-application--wrap {
//     flex: unset;
// }

.app-main-view {
    margin: 0 auto;
}
