.inside-modal {
    position: fixed;
    z-index: 999;
    top: 9%;
    left: 50%;
    width: rem(350px);
    transform: translateX(-50%);
    background-color: $white;
    box-shadow: 0px 2px 4px rgba($black, .6);
    border: 1px solid $clr6;
    border-radius: 6px;

    .resend-email {
        cursor: pointer;
        text-decoration: underline;
        position: absolute;
        outline: $clr4;
        color: $clr4;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        &:disabled {
            opacity: .5;
        }
    }

    .send-verification {
        background-color: $green;
        font-family: roboto-bold, sans-serif;
        font-weight: 700;
        font-size: rem(12px);
        padding: 0px;
        border-radius: 6px;
        color: $white;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;

        @include for-mobile-layout {
            padding: rem(5px);
        }


    }

    .red-bgc {
        background-color: $red;
    }

    @include for-mobile-layout {
        width: rem(550px);
    }
}

.sign-up-modal {
    position: absolute;
    z-index: 999;
    top: 9%;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba($black, .6);
    border: 1px solid $clr6;
    border-radius: 6px;

    .auth0-lock-widget-container {
        height: rem(500px);

        @include for-mobile-layout {
            height: unset;
        }
    }


    #effica-modal {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: rem(500px);
        max-width: 96%;
    }

    .close-modal {
        position: absolute;
        top: 39px;
        right: 35px;
        color: $gray;
        font-size: rem(14px);
    }

    .title {
        color: $clr1;
        font-family: roboto-medium, sans-serif;
        font-weight: 500;
        font-size: rem(21px);
        margin-top: rem(72px);
        margin-bottom: rem(50px);
    }

    .con-title {
        font-family: roboto-medium, sans-serif;
        font-weight: 500;
        letter-spacing: 0px;
        color: $clr1;
        margin: 30px 0;
    }

    .sub-title {
        color: $clr-txt-darker;
        font-family: roboto-bold, sans-serif;
        font-size: rem(16px);
        font-weight: 700;
    }

    .desc {
        margin-top: rem(32px);
        font-size: rem(14px);
        color: $clr-txt-darker;
    }

    .assistance {
        color: $clr1;
        font-size: rem(14px);
        margin-top: rem(55px);
    }


}

.black-screen {
    position: fixed;
    background-color: rgba($black, .6);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;

}



.center {
    padding: rem(30px);
    text-align: center;

    @include for-mobile-layout {
        padding: rem(70px) rem(90px);

    }
}

.auth0-lock.auth0-lock .auth0-lock-center {
    padding: 0px !important;
}

.auth0-lock-terms {
    background: none !important;
}

.email-input {
    position: relative;
    margin-block-end: rem(48px);
    font-size: rem(14px);

    input {
        height: rem(43px);
        width: 100%;
        background-color: $clr3;
        border: 1px solid $clr3;
        border-radius: 6px;
        padding: 0 rem(24px);
        transition: border-color .3s ease-in-out;
        
        &:focus {
            outline: none;
            border-color: $clr6;
        }
        &::placeholder {
            text-align: center;
        }
    }
    .error {
        color: $red;
        position: absolute;
        top: calc(100% + 12px);
        left: 0;
        width: 100%;
        text-align: center;
        margin-block-end: rem(32px);
    }
}

.red {
    position: relative;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    color: $red;
    margin-top: 20px;

    @include for-mobile-layout {
        position: absolute;
        margin-top: unset
    }
}

.auth0-lock.auth0-lock .auth0-lock-form {
    >div>div {

        display: flex;
        flex-direction: column;

        div+div+div {
            display: flex;
            flex-direction: column;

            p {
                order: 4;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            p.auth0-lock-alternative {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                order: 3;
            }
        }

        .auth0-lock-pane-separator {
            order: 2;
        }

        .auth-lock-social-buttons-pane {
            order: 3;
        }
    }
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane {
    height: 110% !important;
}

.auth0-loading {
    display: none !important;
}

.auth0-lock-widget {
    width: 100% !important;

}

.auth0-lock-cred-pane .auth0-lock-quiet {
    padding: 20px;
}

.auth0-lock.auth0-lock .auth0-lock-input-wrap img.auth0-lock-custom-icon {
    width: 18px;
    top: 10px;
    left: 10px;
    filter: opacity(.4);
}