.auth-modal {
    position: absolute;
    z-index: 999;
    top: 6%;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba($black, .6);
    border: 1px solid $clr6;
    border-radius: 6px;

    .auth0-lock-widget-container {
        height: rem(500px);

        @include for-mobile-layout {
            height: unset;
        }
    }

    &-cover {
        position: fixed;
        background-color: rgba($black, .6);
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
    }

    &-content {
        position: fixed;
        z-index: 999;
        top: 7%;
        left: 50%;
        width: rem(350px);
        transform: translateX(-50%);
        background-color: $white;
        box-shadow: 0px 2px 4px rgba($black, .6);
        border-radius: 6px;
        height: 570px;
        animation: fade-in 1s; 

        .close-modal-btn{
            position: absolute;
            right: 17px;
            top: 12px;
            color: #b1b1b1;
        }

        img{
            margin-top: rem(40px);
            margin-bottom: rem(25px);
        }
        &-media-btns{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a{
                margin-bottom: 13px;
                width: 72%;
                line-height: 43px;
                font-size: rem(13px);
                font-family: roboto-medium;
                color: #FFFFFF;
                border-radius: 6px;
            }

            .red{
                background-color:#DA4436;
            }
            .blue{
                background-color:#3A5897;
            }
        }

        .msg{
            color: #fff;
            text-align: center;
            padding: 10px;
            line-height: 1.8;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 10px;
            animation: fade-in 1s; 
        }

        .failed{
            background-color: #ff3e00 !important;
        }

        .successe{
            background-color: #54C394;
        }

        .forgot-pass-link{
            font-size: 13px;
            color: rgba(0,0,0,0.87);
            cursor: pointer;
            margin-bottom: 10px;
            
        }
    
        .resend-email-btn {
            cursor: pointer;
            text-decoration: underline;
            position: absolute;
            outline: $clr4;
            color: $clr4;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);
    
            &:disabled {
                opacity: .5;
            }
        }
    
        @include for-mobile-layout {
            width: rem(550px);
        }
        
        .register-btn{
            position: absolute;
            bottom: -1px;
            left: 0;
            height: rem(70px);
            width: rem(350px);
            background-color: #54C394;
            border-radius: 0px 0px 5px 5px;
            font-size: rem(13px);
            font-family: roboto-medium;
            color: #FFFFFF;

            @include for-mobile-layout {
                width: rem(550px);
            }
        }

        .invalid-btn{
            background-color: red;
        }
    }

    &-title {
        color: $clr1;
        font-size: rem(22px);
        // margin-block-start: rem(72px);
        margin-block-end: rem(48px);
    }

    &-small-title {
        color: $clr1;
        margin: rem(32px) 0 rem(16px);

        &.gap-lg {
            margin: rem(32px) 0;
        }
    }

    &-sub-title {
        color: $clr-txt-darker;
        font-size: rem(16px);
        padding: 0 12px;
    }

    &-field {
        position: relative;
        margin-block-end: rem(24px);
        font-size: rem(14px);
        margin-bottom: -10px;
        
        &-pass-toggle {
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translateY(-50%);
            color: $gray;
        }

        input {
            height: rem(43px);
            width: 72%;
            margin-bottom: 13px;
            background-color: $clr3;
            border: 1px solid $clr3;
            border-radius: 6px;
            padding: 0 rem(24px);
            transition: border-color .3s ease-in-out;
            
            &.is-invalid {
                border-color: $red;
            }
            &:focus {
                outline: none;
                border-color: $clr6;
            }
            &::placeholder {
                text-align: start;
            }
        }
        .checkbox-container{
            display: flex;
            margin-left: 80px;
            .checkbox{
                width: 12px;
                height: unset;
                display: block;
                margin-top: 3px;
                background-color: #fff;
            }
            
            p{
                margin-left: 5px;
            }

            a{
                color: $clr2;
            }
        }
    }

    &-user-msg {
        background-color: $green;
        color: $white;
        font-size: rem(12px);
        padding: 0px;
        border-radius: 0 0 6px 6px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        
        @include for-mobile-layout {
            padding: rem(5px);
        }

        &.is-error {
            background-color: $red;
        }
    }

    &-close-btn {
        position: absolute;
        top: 39px;
        right: 35px;
        color: $gray;
        font-size: rem(14px);
    }

    #effica-modal {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: rem(500px);
        max-width: 96%;
    }
    .desc {
        margin-top: rem(32px);
        font-size: rem(14px);
        color: $clr-txt-darker;
        padding: 0px 10px;
    }

    .assistance {
        color: $clr1;
        font-size: rem(14px);
        margin-top: rem(55px);
    }


}
.auth0-lock.auth0-lock .auth0-lock-center {
    padding: 0px !important;
}

.auth0-lock-terms {
    background: none !important;
}

.auth0-lock.auth0-lock .auth0-lock-form {
    >div>div {

        display: flex;
        flex-direction: column;

        div+div+div {
            display: flex;
            flex-direction: column;

            p {
                order: 4;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            p.auth0-lock-alternative {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                order: 3;
            }
        }

        .auth0-lock-pane-separator {
            order: 2;
        }

        .auth-lock-social-buttons-pane {
            order: 3;
        }
    }
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane {
    height: 110% !important;
}

.auth0-loading {
    display: none !important;
}

.auth0-lock-widget {
    width: 100% !important;

}

.auth0-lock-cred-pane .auth0-lock-quiet {
    padding: 20px;
}

.auth0-lock.auth0-lock .auth0-lock-input-wrap img.auth0-lock-custom-icon {
    width: 18px;
    top: 10px;
    left: 10px;
    filter: opacity(.4);
}