.end-subscription-modal{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $white;
    padding: 44px 50px 27px 50px;
    @include for-narrow-layout {
        width: 50%;
        height: 90%;
        border-radius: 10px;
    }

    &-close-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }

    .loader{
        width: 100%;
        height: 100%;
    }

    .bgc-img{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 75%;
    }

    &-content{

        .header{
            gap: 16px;
            margin-bottom: 30px;
            .logo{
                width: 60px;
                height: 60px;
            }

            .title {
                font-size: 20px;
                font-weight: 700;
            }
        }

        .form{
            .txt{
                font-size: 16px;
                margin-bottom: 13px;
            }

            .top-txt-container{
                margin-bottom: 32px;
            }

            .checkboxes-container{
                margin-bottom: 32px;

                .checkbox-container{
                    gap: 10px;
                    margin-bottom: 13px;

                    .custom-checkbox-checkbox{
                        border-radius: 3px;
                        height: 20px;
                        width: 20px;
                        border: 2px solid #225474;

                        &::before {
                            width: 2px;
                        }
                        &::after {
                            width: 2px;
                        }
                    }

                    .checkbox-desc{
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }

            .sub-container{
                margin-bottom: 27px;

                .free-txt{
                    width: 100%;
                    border-radius: 12px;
                    border: 1px solid #D1D1D1;
                    font-size: 13px;
                    font-weight: 500;
                    color: black;
                    padding: 12px 20px;
                    resize: none;
                    height: 100px;

                    &:focus {
                        outline: none;
                        border-color: $clr1;
                    }
                }
            }

            .btn-container{
                gap: 32px;
                font-weight: bold;
                font-size: 16px;

                .cancel-btn{
                    padding: 16px 0;
                }

                .end-btn{
                    background-color: $clr1;
                    color: $white;
                    padding: 16px 24px;
                    border-radius: 6px;
                }
            }

            .text-input{
                width: 100%;
                border-radius: 12px;
                border: 1px solid #D1D1D1;
                font-size: 13px;
                font-weight: 500;
                color: black;
                height: 42px;
                padding-left: 20px;

                &:focus {
                    outline: none;
                    border-color: $clr1;
                }
            }

            .space-bottom{
                margin-bottom: 24px;
            }
        }
    }
}