.share-modal {
    border-radius: 6px;
    background-color: $white;
    color: $clr-txt-darker;
    
    @include for-narrow-layout {
        min-width: rem(450px);
    }

    &-header {
        padding: rem(18px) rem(24px) rem(18px) rem(16px);
        border: 1px solid $clr6;
        border-radius: 6px 6px 1px 1px;
        font-size: rem(18px);
        line-height: rem(22px);

        .share-variant-icon {
            color: $clr1;
            height: 18px;
            margin-inline-end: rem(8px);
        }
        .alert-circle-icon {
            color: $red;
            height: 18px;
            margin-inline-end: rem(8px);
        }
        .close-btn {
            color: $gray;
        }
        h5 {
            flex-grow: 1;
        }
    }
    &-content {
        font-size: rem(14px);
        line-height: rem(36px);
        padding: rem(24px) rem(24px) rem(24px) rem(16px);
        border-radius: 1px 1px 6px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-narrow-layout {
            flex-direction: row;
            justify-content: space-between;
        }

        &-btn {
            border-radius: 4px;
            text-transform: uppercase;
            padding: rem(12px) rem(22px);

            &:not(:last-child) {
                margin-block-end: rem(12px);

                @include for-narrow-layout {
                    margin-block-end: 0;
                }
            }
        }
        &-confirm-delete {
            flex-grow: 1;

            &-actions {
                align-self: flex-end;

                button {
                    border-radius: 4px;
                    text-transform: uppercase;
                    padding: rem(12px) rem(22px);
                }
            }
            p {
                margin-block-end: rem(16px);
            }
        }

        .radios {
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .flex-align-center {
            flex-direction: column;

            @include for-narrow-layout {
                flex-direction: row;
            }
        }
        .copy-btn {
            display: inline-flex;
            align-items: center;
            background-color: $clr6;
            color: $clr1;
            margin-block-end: rem(36px);
            transition: background-color .3s linear, color .3s linear;
            
            @include hover-supported {
                background-color: darken($clr6, 5%);
            }
            @include for-narrow-layout {
                align-self: flex-end;
                margin-block-end: 0;
            }

            &.copy-success {
                background-color: $green;
                color: $clr-txt-dark;
            }
            &.copy-fail {
                background-color: $yellow;
                color: $clr1;
            }
        }
        .cancel-btn {
            @include for-narrow-layout {
                align-self: flex-end;
            }
        }
        .share-btn {
            background-color: $clr1;
            color: $white;
            transition: background-color .3s linear;

            @include hover-supported {
                background-color: lighten($clr1, 5%);
            }
        }
        .delete-btn {
            background-color: $red;
            color: $white;
            transition: background-color .3s linear;

            @include hover-supported {
                background-color: lighten($red, 5%);
            }
        }
        .link-variant-icon {
            height: 14px;
            margin-inline-end: rem(4px);
        }
        .highlight {
            color: $clr1;
        }
    }


    @media (max-width: $break-narrow) {
        .close-btn {
            position: absolute;
            top: 7px;
            right: 7px;
        }
    }
}