.interaction-preview {
    
    
    .int-details-container {
        display: grid;
        grid-template-columns: 1fr 80px;
        gap: 12px;
        padding: 6px 8px;

        .int-edit {
            text-decoration: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            color: rgb(0, 0, 60);
        }

        .int-side {
            display: grid;
            grid-template-columns: 40px 1fr;
        }

        a,
        span,
        .mat-type,
        .label-src {
            align-self: center;
        }

        .int-mat,
        .int-label {
            text-align: start;
            font-size: 18px;
        }

        .mat-type,
        .label-src {
            height: 20px;
            justify-self: center;
        }
    }
}
