.interaction-list {
    display: grid;
    gap: 4px;

    .v-data-table-header{
        th:first-child{
            min-width: 400px;
        }
    }


    
}

.tr-interaction {
    .td-side {
        div {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            color: #2f83d6;
            cursor: pointer;

            img,
            span {
                align-self: center;
                justify-self: center;
            }

            img {
                margin-inline-end: 10px;
                width: 18px;
            }
            span {
                font-size: 16px;
            }

            .side-name-img {
                display: flex;
                align-items: center;
            }

            &.rec-level-ball {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: white;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }
        }
    }

    .td-type {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            span {
                font-size: 14px;
            }
        }
    }

    .td-active {
        cursor: pointer;
    }
}


