.label-path-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    
    &.narrow .path-container {
        grid-template-columns: 1fr auto;
    }
    .path-container {
        padding: 0 8px;
        margin-bottom: 8px;
        display: grid;
        grid-template-columns: 30px 500px 100px;
        gap: 8px;
        min-height: 42px;
        transition: all .3s;

        .path-number {
            margin-inline-end: 8px;
        }

        .edit-path {
            display: none;
            align-self: center;
            justify-self: center;
        }
    }

    .path-container:hover {
        background-color: rgb(250, 250, 250);
        border-radius: 3px;
        .edit-path {
            display: block;
        }
    }
}
