.material-preview {
    .mat-details-container {
        display: grid;
        grid-template-columns: 1fr 80px;
        gap: 12px;
        padding: 6px 8px;

        .mat-go-link {
            text-decoration: none;
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 8px;
            color: rgb(0, 0, 60);
        }

        a,
        span,
        .mat-type,
        .mat-name {
            align-self: center;
        }

        .mat-name {
            text-align: start;
            font-size: 18px;
        }

        .mat-type {
            height: 20px;
            justify-self: center;
        }
    }
}
