.material-list {
    display: grid;
    gap: 4px;
}

.tr-material {
    .td-name-img {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;

            img,
            span {
                align-self: center;
                justify-self: center;
            }

            img {
                margin-inline-end: 10px;
                width: 18px;
            }
            span {
                font-size: 16px;
            }
        }
    }

    .td-type {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            span {
                font-size: 14px;
            }
        }
    }
}
