.user-app {
    display: flex;
    flex-direction: column;

    &-header {
        background-color: $clr6;
        padding: rem(30px) rem(24px) rem(32px) 0;
        position: relative;

        @include for-mobile-layout {
            padding: rem(48px) rem(24px) rem(16px) 0;
        }

        &-search {
            width: rem(300px);
            font-size: rem(15px);
            line-height: rem(18px);
            border-color: rgba($clr1, .9);
            border-style: solid;
            border-width: 8px 8px 8px 0;
            border-radius: 0 100px 100px 0;
            
            & > input {
                height: 100%;
                width: 100%;
                padding: rem(14px) 0 rem(14px) rem(24px);
                border-width: 1px 1px 1px 0;
                border-style: solid;
                border-color: transparent;
                border-radius: 0 100px 100px 0;
                transition: border-color .3s ease;
                background-color: $white;

                &:focus {
                    outline: none;
                    border-color: rgba($clr-txt-darker, .4);
                }
            }
        }
        &-filter {
            font-size: rem(14px);
            line-height: rem(21px);
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-inline-start: 24px;
            
            @include for-mobile-layout {
                display: initial;
                flex-grow: 0;
                padding-inline-start: 0;
            }

            .select {
                .select-trigger {
                    vertical-align: bottom;
                    width: 8rem;

                    @include for-mobile-layout {
                        width: 9.675rem;
                    }
                }

                &:first-child {
                    margin-inline-end: rem(16px);
                }
            }
        }
        &-notice {
            align-self: flex-end;
            font-size: rem(14px);
            line-height: 100%;
            color: $clr1;
            position: absolute;
            left: 24px;
            bottom: 6px;
            
            @include for-mobile-layout {
                position: static;
                margin-inline-start: rem(24px);
            }
        }
        
        & > div:first-child {
            margin-block-end: rem(24px);
        }

        .subscribe-until {
            margin-left: 5px;
            font-weight: bold;
            color: $gradient-clr1;
            margin-bottom: 10px;
        }
    }
    &-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: $clr3;
        max-width: 100vmin;

        .list-pagination {
            align-items: stretch;
        }
    }
}