.user-data-table {
    flex: 1 1 auto;
    overflow: auto;
    height: 0px;
    max-width: 100%;
    font-size: rem(14px);
    line-height: rem(16px);
    
    table {
        width: 100%;
    }
    tr {
        box-shadow: $slight-border-bottom;
    }
    th {
        font-family: roboto-medium, sans-serif;
        font-weight: 500;
        padding: rem(8px) rem(24px);
        text-transform: capitalize;
        text-align: left;
        
        @include for-mobile-layout {
            min-width: 100px;
        }

        label {
            cursor: pointer;
        }

        .sort-icon {
            display: none;

            @include for-mobile-layout {
                display: initial;
                height: rem(14px);
                width: rem(14px);
                margin-block-end: -2px;
            }
        }
    }
    td {
        padding: rem(12px) rem(24px);
    }

    .td-actions {
        column-count: $clr1;
        height: 100% !important;
        .search-link {
            border-radius: 2px;
            background-color: $clr1;
            padding: rem(4px) rem(24px);
            color: $white;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
    
            @include hover-supported {
                background-color: lighten($clr1, 5%);
                color: lighten($white, 5%);
            }
        }
        .delete-btn {
            transition: color .3s ease-in-out;
            @include hover-supported {
                color: lighten($clr1, 5%);
            }
        }
    }

    .end-subscrition-btn{
        background-color: $red;
        color: $white;
        font-weight: bold;
        border-radius: 10px;
        padding: 5px;
    }
}