.user-edit {
    background-color: $clr6;
    padding: rem(26px) rem(32px);

    
    @include for-mobile-layout {
        padding: rem(54px) rem(64px);
    }

    &-form {
        display: flex;
        flex-direction: column;
    }

    &-card {
        background-color: $white;
        border-radius: 6px;
        border: 1px solid $clr19;
        padding: rem(22px) rem(26px) rem(32px);
        position: relative;
        margin-block-end: rem(24px);
        
        @include for-mobile-layout {
            padding: rem(44px) rem(54px) rem(74px);
        }

        h3 {
            text-align: center;
            text-transform: capitalize;
            font-size: rem(20px);
            line-height: rem(24px); 
            margin-block-end: rem(24px);

            @include for-mobile-layout {
                text-align: initial;
                font-size: rem(24px);
                line-height: rem(28px); 
            }
        }

        &-btn {
            align-self: flex-start;
            line-height: rem(28px);
            transition: text-shadow .3s ease-in-out, text-decoration .3s ease-in-out;

            @include hover-supported {
                text-decoration: underline;
                text-shadow: $bold;

                .chevron-right-icon {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            .chevron-right-icon {
                height: 22px;
                transform: translateX(-100%);
                opacity: 0;
                transition: transform .3s ease-in-out, opacity .3s ease-in-out;
            }
        }
    }
    &-submit-btn {
        padding: rem(8px) rem(16px);
        align-self: center;

        &:disabled {
            opacity: .5;
            background-color: $gray;
            pointer-events: none;
            user-select: none;
        }
        @include for-mobile-layout {
            align-self: flex-end;
        }
    }
    &-error-msg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $white;
        font-size: rem(12px);
        line-height: rem(24px);
        padding: 0px;
        border-radius: 0 0 6px 6px;
        background-color: $red;
        text-align: center;
    }

    .delete-user-modal{
        width: 80%;
        max-width: 500px;
        background-color: #fff;
        border-radius: 10px;
        height: fit-content;
        text-align: center;
        padding: 30px 10px;
        
        @include for-narrow-layout {
            height: 250px;
            padding: 10px;
        }

        &-title{
            font-size: rem(18px);
            font-weight: bold;
            color: $clr1;
            margin-block-end: 25px;
            
            @include for-narrow-layout {
                margin-block-start: 25px;
            }
        }
        &-txt{
            font-size: rem(14px);
            color: grey;
            margin-block-end: 25px;
            @include for-narrow-layout {
                padding: rem(12px);
            }
        }
        &-btn-container{
            width: 90%;
            color: grey;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            button{
                padding: 5px;
                border-radius: 5px;
                font-weight: bold;
                color: $white;

                @include for-narrow-layout {
                    padding: rem(10px);
                }
            }

            .red{
                background-color: $red;
            }

            .green{
                background-color: $green;
            }
        }
    }
}