.label-list {
    display: grid;
    gap: 4px;
}
.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 0;
}
.centered {
   padding: 12px 16px 0 !important;
}
.tr-label {
    &-checkbox {
        margin: 0 12px;
        pointer-events: none;
    }
    .td-name-img {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;

            img,
            span {
                align-self: center;
                justify-self: center;
            }

            img {
                margin-inline-end: 10px;
                width: 18px;
            }
            span {
                font-size: 16px;
            }
        }
    }

    .td-src {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            span {
                font-size: 14px;
            }
        }
    }

    .td-color {
        text-decoration: none;
        height: 100%;
        .color-circle {
            width: 16px;
            height: 16px;
            margin: 0 12px;
        }
    }
}
