//// Colors
$gradient-clr1: #235775;
$gradient-clr2: #54C394;

$clr1: #205072;
$clr2: #55C595;

$white: #FFFFFF;

//// Media break points
$break-mobile: 600px;
$break-narrow: 900px;
$break-wide: 1200px;