//// Colors
$gradient-clr1: #235775;
$gradient-clr2: #54C394;

$clr-txt-dark: #133146;
$clr1: #205072;
$clr2: #55C595;
$clr3: #F8F8F8;
$clr4: #3A8983;
$clr5: #1D3140;
$clr6: #E2E2E2;
$clr7: #CBCBCB;
$clr8: #56C596;
$clr9: #A4B8C6;
$clr10: #536979;
$clr11: #329D9C;
$white: #FFFFFF;
$black: #121212;

//// Media break points
$break-mobile: 600px;
$break-narrow: 900px;
$break-wide: 1440px;