//// Colors
$gradient-clr1: #235775;
$gradient-clr2: #54C394;

$clr-txt-dark: #133146;
$clr-txt-darker: #484848;
$clr1: #205072;
$clr2: #55C595;
$clr3: #F8F8F8;
$clr4: #3A8983;
$clr5: #1D3140;
$clr6: #E2E2E2;
$clr7: #CBCBCB;
$clr9: #A4B8C6;
$clr10: #536979;
$clr11: #329D9C;
$clr12: #5f5f5f;
$clr13: #E2F0F0;
$clr14: #F0F9FF;
$clr15: #FFF5F5;
$clr16: #eaeaea;
$clr17: #F3F8FC;

$white: #FFFFFF;
$black: #121212;
$gray: #b1b1b1;
$red: #E63946;
$yellow: #F6D55C;
$green: #56C596;


//// Media break points
$break-mobile: 600px;
$break-narrow: 900px;
$break-middle: 1200px;
$break-wide: 1440px;

//// Others
$slight-border-bottom: 0px 1px 1px 0 rgba($clr12, .17); 
$slight-border-top: 0px -1px 1px 0 rgba($clr12, .17); 
$slight-border-y: 0px 0px 1px 2px rgba($clr12, .17); 