.page-header {
    height: 200px;
    background-image: url("../assets/imgs/about-hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-block-end: rem(36px);
}