.search-bar {
    font-size: rem(14px);
    border-radius: rem(100px);
    display: flex;

    &-field {
        display: inline-block;
        flex-basis: 50%;
        position: relative;
        
        &.inset {
            box-shadow: 0px 0px 4px rgba($clr7, .6);
            background-color: $clr3;
            border-radius: 100px;
            padding: rem(6px);
        }
        .cap {
            position: absolute;
            height: 100%;
            top: 0;
            
            &-left {
                right: 0;
            }
            &-right {
                left: 0;
            }
        }
    }
    input {
        height: 100%;
        width: 100%;
        background-color: $white;
        font-family: roboto-medium, sans-serif;
        border-radius: rem(100px);
        border-width: 0;
        padding: rem(12px) 0;
        text-align: center;
        
        &:focus {
            outline: none;
            box-shadow: inset 0px 0px 2px 0 $clr9;
        }
        &::placeholder {
            font-family: roboto, sans-serif;
        }
        &.primary {
            &::placeholder {
                color: inherit;
                font-family: roboto-medium, sans-serif;
            }
        }
    }
}