.coupon-edit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;

    &-content{
        padding: 20px;

        .coupon-input{
            display: flex;
            align-items: center;
            justify-content: center;
    
            h3{
                margin-block-start: 16px;
                margin-right: 10px;
            }
        }
    }

    .plans-container{
        display: flex;
        margin-top: 20px;

        .plan{
            width: 350px;
            padding: 10px;
        }
    }

    .btn-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-block-end: 10px;
        margin-left: unset !important;
    }
}    

.red-txt{
    color: red;
}

.dynamic-coupon-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    h3{
        margin-block-start: 16px;
        margin-right: 10px;
    }
}