.d-bank-interaction-details {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-content {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px;

        &-title {
            grid-column: 1 / -1;
            font-size: 1.75em;
            justify-content: center;
            align-items: center;

            figure {
                position: absolute;
                right: 12px;

                figcaption {
                    opacity: .8;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    transform: translateX(-105%);
                }
            }
        }
        &-table, &-divider {
            grid-column: 1 / -1;
            margin: 0 2.5%;
            width: 95%;
        }
        &-table p {
            display: inline;
            margin-bottom: 0;
        }
    }
    &-loader {
        margin-top: 35vh;
    }
}