.search-engine {
    &-search {
        display: flex;
        flex-direction: column;
        padding: 0 16px;

        .theme--light.v-text-field--solo-inverted.v-input--is-focused > .v-input__control > .v-input__slot {
            background: #42A5F5;
        }
    }
    &-results {
        position: relative;   
        min-height: 300px;
        max-height: 550px;
        overflow-y: auto;
        display: flex;

        &-materials {
            position: relative;
            flex-basis: 30%;

            [title="Clear All"] {
                position: absolute;
                top: 12px;
                right: 12px;
                z-index: 9;

                &::before {
                    background-color: transparent;
                }
            }
            .info-icon {
                cursor: help;
            }
            .result {
                cursor: default;
            }
            .ghost {
                opacity: .5;
            }
        }
        &-interactions {         
            flex-basis: 70%;

            .v-tab {
                max-width: unset;
            }
            .results-list {

                &-link {
                    color: inherit;
                }
                &-expand-panel {
                    &-panel {
                        color: inherit !important;
                        &-header {
                            pointer-events: none;
                        } 
                        &-chip, .fake-chip {
                            pointer-events: all;
                            cursor: row-resize;
                        }
                    }
                }
                &-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .v-slide-group__content {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
        .loading-container {
            margin: 50px 0;
        }
    }
}