.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 0;
    max-width: unset;
}
sub {
    position: relative;
    line-height: unset;
    color: $color-ref;
    cursor: help;

    &:hover > .refs-tooltip {
        transform: scale(1);
        opacity: 1;
    }
}
.ref-link, .ref-link:visited, .ref-link:active {
    color: $color-ref !important;
}
.refs-tooltip {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 550px;
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
    color: black;
    background-color: darken(#fff, 5%);
    border: 1px solid rgba(38,35,34,.1);
    box-shadow: 0 3px 8px 0 rgba(38,35,34,.1);
    z-index: 9;
    transform: scale(0);
    opacity: 0;
    transform-origin: top left;
    transition: transform .3s linear, opacity .3s linear;

    &-item {
        border-bottom: 1px solid #fff;
        &:hover {
            background-color: #fff;
        }
    }
    p {
        display: inline;
        span {
            font-weight: 700;
        }
    }
}
.pathway-name { 
    cursor: help;
}
.list-header {
    cursor: pointer;
    transition: text-shadow .15s linear;
    
    &:hover {
        text-shadow: $bold;
    }

    .icon {
        font-size: 1.2em;
        visibility: hidden;
    }
    .icon-active {
        visibility: visible;
    }
    [type=checkbox]:checked ~ .icon-active {
        transform: rotateX(180deg);
        perspective: 15px;
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
[alt="DrugBank logo"] {
    width: 150px;
    filter: grayscale(100%);
    opacity: 0.6;
}

.cms-alert{
    position: fixed;
    top: 70px;
    right: 24px;
    width: fit-content;
}