.material-details {
    margin-bottom: 12px;
    
    .v-chip {
        pointer-events: none;

        &.pathway {
            pointer-events: all;
            cursor: help;
        }
    }
    &-expand-panel {
        width: 95%;
        
        &-header {
            display: flex;
            align-items: baseline;

            &:hover {
                text-shadow: $bold;
                transition: text-shadow .15s linear;
            }
        }
    }
    &-labels {
        .v-chip {
            pointer-events: all;
        }
    }
    .action-container {
        display: flex;
        margin-bottom: 20px;

        > :not(:last-child) {
            margin-inline-end: 10px;
        }
    }
    .info-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px;
        padding: 12px;

        .material-details-title,
        .ref-table,
        .d-bank-ref-table,
        .narrow-therapeutic {
            grid-column: 1 / -1;
        }
        
        .info-value.dosage ul {
            list-style-type: disc;
            li {
                margin-bottom: 12px;
            }
        }
        .info-title,
        .info-value,
        a,
        p {
            text-align: start;
        }

        .info-title {
            padding-inline-start: 16px;
        }

        p {
            margin: 0;
        }
    }
}
